body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
    border-radius: 8px;
    background: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    margin-bottom: 1em;
}

legend {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 0.8em 1.2em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
























#consultar-registro.minimizado #resultado-consulta {
    display: none;
}

#consultar-registro.minimizado h2,
#consultar-registro.minimizado button {
    display: none;
}

#consultar-registro.minimizado #minimizar-registro {
    display: block;
}
